@keyframes youAreHere {
  0% {fill: white}
  50% {fill: purple}
  100% {fill: white}
}
@keyframes youDieHere {
  0% {fill: white}
  50% {fill: red}
  100% {fill: white}
}

body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.axis text,
.slider text {
  font-size: 8px;
}

.pre {
  fill: rgb(182, 250, 182);
  stroke: black;
}

.pre-sample {
  fill:lightyellow;
  stroke: black;
}

.post {
  fill: rgb(238, 131, 140);
  stroke: black;
}

.yahtzee {
  fill: red;
  stroke: black;
  animation-name: youDieHere;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.yahtzee-sample {
  fill: red;
  stroke: black;
  animation-name: youDieHere;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}



.lived.pre {
  fill:lightyellow;
}

g rect:hover {
  width: 10px;
  z-index: 40;
  height: 10px;
  transform: translate(-2px, -2px);
}

.sample-week-icons{
  display: flex;
  align-items: center;
  width: 750px;
  justify-content: space-evenly;

  p {
    font-size: 9px;
  }
}

.current-week {
  fill: purple;
  animation-name: youAreHere;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.year-ticks {
  position: relative;
}

.life-chart-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.years {
  margin: 0;
  font-size: 9;
}

.week-hover-container{
  width: 100px;
}

.weeks {
  position: relative;
  font-size: 9;
  transform: rotate(-90deg);
  top: 250;
  height: 0;
  left: -540px;
  margin: 0;
}

#week-ticks {
  position: absolute;
  left: -22px;
  top: 72px;
}

.sliders {
  display: flex;
  justify-content: center;
  min-width: 1375px;;
}

#day-slider{
  margin-right: 32px;
}

.slider-container {
  display: flex;
  align-items: center;
  margin-top: 50px;
  width: 363px;
  position: relative;
  left: -322px;
}

.selections {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45px;
  width: 363px;
  position: relative;
  left: 330px;
  top: -270px;
}

.selections p {
    margin: 0;
  }

.selections-sub{
  display: flex;
  font-size: 9;
  justify-content: space-evenly;
  width: 375px;
}

.your-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.weeks-counts {
  display: flex;  
  width: 600px;
  justify-content: space-evenly;
}

.date-display {
  display: flex;
  width: 200px;
}

.country-list {
  margin-right: 26px;
  width: 139px;
  font-size: 16px;
  font-family: 'Montserrat';
  border: gray solid 1px;
  border-radius: 3px;
}

.country-list-container {
  width: 290px;
  display: flex;

  p {
    margin:0;
  }
}

.weeks-lived-container {
  width: 175px;
}

.weeks-remaining-container {
  width: 210px;
}

.info-container{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}