@keyframes youAreHere {
  0% {fill: white}
  50% {fill: purple}
  100% {fill: white}
}
@keyframes youDieHere {
  0% {fill: white}
  50% {fill: red}
  100% {fill: white}
}

body {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
}

h1, h3, p {
  margin: 2px 0px 2px 0px;
}

.axis text,
.slider text {
  font-size: 8px;
}

.pre {
  fill: rgb(182, 250, 182);
  stroke: black;
}

.pre-sample {
  fill:lightyellow;
  stroke: black;
}

.post {
  fill: rgb(238, 131, 140);
  stroke: black;
}

.yahtzee {
  fill: red;
  stroke: black;
  animation-name: youDieHere;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.yahtzee-sample {
  fill: red;
  stroke: black;
  animation-name: youDieHere;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}



.lived.pre {
  fill:lightyellow;
}

g rect:hover {
  width: 10px;
  z-index: 40;
  height: 10px;
  transform: translate(-2px, -2px);
}

.sample-week-icons{
  display: flex;
  align-items: center;
  width: 750px;
  justify-content: space-evenly;

  p {
    font-size: 9px;
  }
}

.current-week {
  fill: purple;
  animation-name: youAreHere;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

div#year-ticks {
    position: relative;
    left: 51px;
}

.life-chart-container {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 45px 10px 10px;
    background-color: #d9d9ff;
    border-radius: 5px;
}
.chart-horizontal {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.subtitle {
    margin: 10px 0 10px;
    width: 76vw;
    text-align: center;
}

.inspired-by {
    font-size: 10px;
    display: flex;
    align-items: center;
    min-width: 400px;
    width: 400px;
    justify-content: space-evenly;
    flex-direction: column;
}

.years {
  margin: 0;
  font-size: 9;
}

.weeks {
  font-size: 9;
  transform: rotate(-90deg);
}

div#week-ticks {
    height: 502px;
    position: relative;
    top: -14px;
}

.sliders {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.slider-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.slider-label {
  margin: 0px;
}
.sub-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8f8f9626;
    padding: 26px 26px 26px 26px;
    border-radius: 5px;
    border: 2px solid gray;
    margin-bottom: 100px;
}

.selections {
  display: flex;
  flex-direction: column;
  align-items: center;

}

p.week-beginning {
    min-width: 286px;
}

.selections p {
    margin: 0;
  }

.selections-sub{
  display: flex;
  font-size: 9;
  justify-content: space-evenly;
  width: 375px;
}

.your-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.weeks-counts {
  display: flex;  
  width: 600px;
  justify-content: space-evenly;
}

.date-display {
  display: flex;
  width: 200px;
}

.country-list {
  width: 139px;
  font-size: 16px;
  font-family: 'Montserrat';
  border: gray solid 1px;
  border-radius: 3px;
}

.country-list-container {
    width: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

  p {
    margin:0;
  }
}

.weeks-lived-container {
  width: 175px;
}

.weeks-remaining-container {
  width: 210px;
}

.info-container{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.link {
  color: #2200ee;
}

span#week-hover {
    padding-left: 5px;
}



.spacer {
  height: 30vh;
}