

body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.axis text,
.slider text {
  font-size: 8px;
}

.country-list {
  height: 35px;
}

.pre {
  fill: rgb(182, 250, 182);
  stroke: black;
}

.post {
  fill: rgb(238, 131, 140);
  stroke: black;
}

.yahtzee {
  fill: yellow;
}

.current-week {
  fill: purple;
}

#life-chart {
  transform: rotate(-90deg);
}